<!DOCTYPE html>
<html>
<head>

<title>Equipment - SmartMaintenance</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="header">
    <h1>📦 Equipment Management</h1>
    <a href="/logout">Logout</a>
</div>


<div class="main">

<div class="form-box">

<h2>Add Equipment</h2>

<form method="POST">

<input name="name" placeholder="Equipment name" required>

<input name="category" placeholder="Category">

<input name="location" placeholder="Location">

<button type="submit">
Add Equipment
</button>

</form>

</div>



<h2>Equipment List</h2>


<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Category</th>
<th>Location</th>
<th>Status</th>
</tr>


{% for e in equipment %}

<tr>

<td>{{e.id}}</td>

<td>{{e.name}}</td>

<td>{{e.category}}</td>

<td>{{e.location}}</td>

<td>{{e.status}}</td>

</tr>

{% endfor %}


</table>


<br>

<a href="/">⬅ Back Dashboard</a>


</div>

</body>
</html>
