<!DOCTYPE html>
<html>

<head>

<title>Inventory - SmartMaintenance</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>

<body>

<div class="header">
    <h1>📦 Store & Inventory</h1>
    <a href="/logout">Logout</a>
</div>

<div class="main">

<div class="form-box">

<h2>Add Inventory Item</h2>

<form method="POST">

<input name="item" placeholder="Item name" required>

<input name="quantity" type="number" placeholder="Quantity" required>

<input name="minimum" type="number" placeholder="Minimum stock" required>

<button type="submit">Add Item</button>

</form>

</div>

<h2>Inventory List</h2>

<table>

<tr>
<th>ID</th>
<th>Item</th>
<th>Quantity</th>
<th>Minimum Stock</th>
</tr>

{% for i in items %}

<tr>
<td>{{i.id}}</td>
<td>{{i.item}}</td>
<td>{{i.quantity}}</td>
<td>{{i.minimum}}</td>
</tr>

{% endfor %}

</table>

<br>

<a href="/">⬅ Back Dashboard</a>

</div>

</body>
</html>
