<!DOCTYPE html>
<html>

<head>

<title>Technicians - SmartMaintenance</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<div class="header">

<h1>👨‍🔧 Technicians</h1>

<a href="/logout">Logout</a>

</div>



<div class="main">


<div class="form-box">

<h2>Add Technician</h2>


<form method="POST">


<input 
name="name" 
placeholder="Technician name"
required>


<input 
name="skill" 
placeholder="Skill / Department">


<input 
name="phone" 
placeholder="Phone number">


<button type="submit">
Add Technician
</button>


</form>

</div>




<h2>Technician List</h2>



<table>


<tr>

<th>ID</th>

<th>Name</th>

<th>Skill</th>

<th>Phone</th>

</tr>



{% for t in technicians %}


<tr>

<td>{{t.id}}</td>

<td>{{t.name}}</td>

<td>{{t.skill}}</td>

<td>{{t.phone}}</td>

</tr>


{% endfor %}



</table>



<br>

<a href="/">⬅ Back Dashboard</a>


</div>



</body>

</html>
