
<!DOCTYPE html>
<html>

<head>

<title>Work Orders - SmartMaintenance</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<div class="header">

<h1>🛠 Work Orders</h1>

<a href="/logout">Logout</a>

</div>



<div class="main">


<div class="form-box">

<h2>Create Work Order</h2>


<form method="POST">


<input 
name="equipment"
placeholder="Equipment name">


<textarea
name="problem"
placeholder="Describe problem">
</textarea>


<input 
name="technician"
placeholder="Assigned technician">


<select name="priority">

<option>Low</option>

<option selected>Medium</option>

<option>High</option>

<option>Emergency</option>

</select>


<button type="submit">
Create Work Order
</button>


</form>

</div>




<h2>Work Order List</h2>


<table>

<tr>

<th>ID</th>
<th>Equipment</th>
<th>Problem</th>
<th>Technician</th>
<th>Priority</th>
<th>Status</th>

</tr>



{% for w in workorders %}


<tr>

<td>{{w.id}}</td>

<td>{{w.equipment}}</td>

<td>{{w.problem}}</td>

<td>{{w.technician}}</td>

<td>{{w.priority}}</td>

<td>{{w.status}}</td>

</tr>


{% endfor %}


</table>


<br>

<a href="/">⬅ Back Dashboard</a>


</div>


</body>

</html>
