{% extends "base.html" %}

{% block title %}Work Orders{% endblock %}

{% block content %}

<h2 class="mb-4">🛠 Work Orders</h2>

<div class="card mb-4">
    <div class="card-body">

        <form method="POST">

            <div class="row">

                <div class="col-md-3">
                    <label>Equipment</label>
                    <input type="text" name="equipment" class="form-control" required>
                </div>

                <div class="col-md-3">
                    <label>Problem</label>
                    <input type="text" name="problem" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Technician</label>
                    <input type="text" name="technician" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label>Priority</label>
                    <select name="priority" class="form-control">
                        <option>Low</option>
                        <option>Medium</option>
                        <option>High</option>
                        <option>Critical</option>
                    </select>
                </div>

                <div class="col-md-2 d-grid">
                    <label>&nbsp;</label>
                    <button type="submit" class="btn btn-primary">
                        Create
                    </button>
                </div>

            </div>

        </form>

    </div>
</div>

<div class="card">

    <div class="card-header bg-primary text-white">
        Work Order List
    </div>

    <div class="card-body">

        <table class="table table-bordered table-hover">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Equipment</th>
                    <th>Problem</th>
                    <th>Technician</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>

            {% for job in workorders %}

            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.equipment }}</td>
                <td>{{ job.problem }}</td>
                <td>{{ job.technician }}</td>
                <td>{{ job.priority }}</td>
                <td>{{ job.status }}</td>
                <td>{{ job.date }}</td>
            </tr>

            {% endfor %}

            </tbody>

        </table>

    </div>

</div>

{% endblock %}
